.vscode
.VSCodeCounter/
.idea
.direnv/
cmake-build-debug/
compile_commands.json
result
tags


bin
build
catboost_info
*.rpt
*.idx
*.cap
*.fanout
*.spec
*.trans
*.skew
*.dot
*.gds
*.def
*.log
*.pwr

rpt*/
target/
*-stamp/
tmp/
